#footer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: #333333;
    border-top: 10px solid #4ebfe5;
}

.footer-container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 10px;
}