<div id="about-column">
  <div class="about-row">
    <div id="about-header">
      Getting to know Tester Auto Sales
    </div>
  </div>
  <div class="about-row">
    <div id="about-text1">
      Tester auto sales is a family owned small business of 15 years. We are here to treat you like family when buying your next motor vehicle.
    </div>
  </div>
  <div class="about-row">
    <img id="about-picture" src="../../assets/images/family-2145302_1280.png">
  </div>
  <div class="about-row">
    <div id="about-text2">
      More text here. More text here. More text here. More text here. More text here. More text here. More text here. More text here. More text here. More text here. More text here.
      More text here. More text here. More text here. More text here. More text here. More text here. More text here. More text here. More text here. More text here. More text here.
    </div>
  </div>
</div>