#contact-header{
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

#contact-text1{
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

#contact-text2{
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

#contact-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}

.contact-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}