#location-header{
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

#location-text1{
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

#location-picture{
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 200px;
    height: 40vw;
    max-width: 800px;
    max-height: 600px;
    flex: 1;
}

#location-text2{
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

#location-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}

.location-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#gmap{
    width: 200px;
    height: 40vw;
    max-width: 800px;
    max-height: 600px;
    flex: 1;
}