<div id="location-column">
  <div class="location-row">
    <div id="location-header">
      Location
    </div>
  </div>
  <div class="location-row">
    <div id="location-text1">
      Come visit us and see our selection in person. 
    </div>
  </div>
  <div class="location-row">
    <div id="location-text2">
      0000 Tester Ave N
      TesterVille, test  
    </div>
  </div>
  <div class="location-row">
    <img src="../../assets/images/architecture-107598_1280.jpg" id="location-picture">
  </div>
  <div class="location-row" style="padding-bottom: 20px; padding-top:20px;">
    <div id="gmap">
    </div>
  </div>
</div>