<div id="location-column">
  <div class="location-row">
    <div id="location-header">
      {{configurationService.locationHeader}}
    </div>
  </div>
  <div class="location-row">
    <div id="location-text1">
      {{configurationService.locationText1}}
    </div>
  </div>
  <div class="location-row">
    <div id="location-text2">
      {{configurationService.locationText2}}
    </div>
  </div>
  <div class="location-row">
    <img id="location-picture" [src]="'../../'+configurationService.locationImage">
  </div>
  <div class="location-row" style="padding-bottom: 20px; padding-top:20px;">
    <div id="gmap">
    </div>
  </div>
</div>