<div class="vehicle-container">
  <div class="vehicle-row">
    <div class="vehicle-title vehicle-row-item">
      Test Car Name
    </div>
    <div class="vehicle-title vehicle-row-item">
      Price: $10000
    </div>
  </div>
  <div class="vehicle-row">
    <img src="../../assets/images/cars/jeep1234231.jpeg" alt="vehicle picture" class="vehicle-image vehicle-row-item">
    <div class="vehicle-details vehicle-row-item">
      <div> Drive: AWD </div>
      <div> Miles: 400000 </div>
      <div> Engine: V8 </div> 
      <div> Transmission: 6 speed </div>
      <div> Color: White </div>
    </div>
  </div>
</div>