#nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: #333333;
    border-bottom: 10px solid  white;
}

.nav-container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 20px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

#nav-contact-column{
    display: flex;
    flex-direction: column;
}

#nav-title{
    align-self: flex-end;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.nav-tab{
    user-select: none;
}