<div class="vehicle-container">
  <div class="vehicle-row">
    <div class="vehicle-title vehicle-row-item">
      {{vehicle.name}}
    </div>
    <div class="vehicle-title vehicle-row-item">
      Price: ${{vehicle.price}}
    </div>
  </div>
  <div class="vehicle-row">
    <img [src]="vehicle.pictures[0]" alt="vehicle picture" class="vehicle-image vehicle-row-item">
    <div class="vehicle-details vehicle-row-item">
      <div> Drive: {{vehicle.drive}} </div>
      <div> Miles: {{vehicle.miles}} </div>
      <div> Engine: {{vehicle.engine}} </div> 
      <div> Transmission: {{vehicle.transmission}} </div>
      <div> Color: {{vehicle.color}} </div>
    </div>
  </div>
</div>